.footer {
	margin-top: 76px;
	&__container {
		background: var(--blue-color);
		border-radius: 25px 25px 0px 0px;
		padding: 100px;
		padding-left: 68px;
		display: flex;
		justify-content: space-between;
		gap: 25px;
		&-contacts {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 25px;
		}
		&-list {
			&-company {
				max-width: 150px;
			}
			&-products {
				max-width: 215px;
			}
			&-service {
				max-width: 200px;
			}
			&-projects {
				max-width: 200px;
			}
		}
	}
	&__column {
		&-main {
			display: flex;
			gap: 50px;
		}
	}
	&__logo {
		margin-bottom: 32px;
	}
	&__button {
		color: var(--white-color);
		font-size: 16px;
		line-height: 120%;
		padding: 12px 20px;
		border-radius: 10px;
		background: var(--license-light-blue-color);
	}
	&__title {
		&-list {
			display: block;
			color: var(--white-color);
			font-size: 22px;
			font-weight: 500;
			line-height: 120%;
			margin-bottom: 32px;
			text-decoration: none;
		}
	}
	&__links {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 12px;
	}
	&__link {
		color: var(--footer-text-color);
		font-size: 16px;
		line-height: normal;
		text-decoration: none;
		&-aside {
			color: var(--white-color);
			font-size: 16px;
			font-weight: 400;
			line-height: 16px;
			display: flex;
			align-items: center;
			gap: 15px;
			text-decoration: none;
		}
	}
	&__text {
		&-nowrap {
			white-space: nowrap;
		}
	}
}

@media (max-width: 1340px) {
	.footer {
		&__container {
			padding: 38px;
		}
		&__column {
			&-main {
				gap: 25px;
			}
		}
	}
}

@media (max-width: 1024px) {
	.footer {
		&__container {
			flex-direction: column;
			&-contacts {
				flex-direction: row;
				align-items: center;
				flex-wrap: wrap;
			}
		}
		&__column {
			&-aside {
				display: flex;
				align-items: center;
				column-gap: 50px;
			}
		}
		&__logo {
			margin-bottom: 0;
		}
	}
}

@media (max-width: 830px) {
	.footer {
		&__link {
			&-aside {
				order: 0;
			}
			&-call {
				order: 1;
			}
		}
	}
}

@media (max-width: 768px) {
	.footer {
		&__column {
			&-main {
				display: grid;
				grid-template-columns: repeat(12, 1fr);
			}
		}
		&__container {
			gap: 45px;
			&-list {
				max-width: unset;
				grid-column: 6 span;
				order: 1;
				&-products {
					order: 2;
				}
			}
		}
		&__title {
			&-list {
				margin-bottom: 16px;
			}
		}
	}
}

@media (max-width: 480px) {
	.footer {
		&__container {
			&-contacts {
				flex-direction: column;
				flex-wrap: nowrap;
			}
		}
		&__column {
			&-aside {
				flex-direction: column;
			}
		}
		&__logo {
			margin-bottom: 18px;
		}
	}
}

@media (max-width: 390px) {
	.footer {
		&__container {
			padding: 18px;
			&-contacts {
				flex-direction: column;
				flex-wrap: nowrap;
			}
			&-list {
				grid-column: 12 span;
				order: unset;
				column-gap: 0;
			}
		}
		&__column {
			&-aside {
				flex-direction: column;
			}
			&-main {
				column-gap: 0;
				row-gap: 30px;
			}
		}
		&__logo {
			margin-bottom: 18px;
		}
		&__links {
			align-items: center;
		}
		&__title {
			&-list {
				text-align: center;
			}
		}
		&__item {
			display: flex;
		}
		&__link {
			text-align: center;
		}
	}
}
