.group {
	margin-top: 25px;
	&__container {
		border-radius: 25px;
		background: var(--second-light-blue-color);
		padding: 68px 30px 32px;
	}
	&__title {
		margin-top: 4px;
		color: var(--white-color);
		margin-bottom: 69px;
	}
	&__row {
		display: flex;
		justify-content: space-between;
	}
	&__column {
		padding-left: 32px;
		&-partners {
			margin-top: 71px;
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: 84px;
			gap: 15px;
		}
	}
	&__list {
		display: grid;
		grid-template-columns: 538px 310px;
		gap: 25px 125px;
	}
	&__item {
		position: relative;
		grid-column: 1 span;
		color: var(--white-color);
		font-size: 28px;
		line-height: normal;
		&::before {
			content: "+";
			color: var(--white-color);
			font-weight: 700;
			margin-right: 6px;
		}
	}
	&__image {
		margin-right: 93px;
	}
	&__icon {
		&-1c {
			margin-left: 13px;
			width: 49px;
			height: 49px;
			min-width: 49px;
			min-height: 49px;
		}
		&-change {
			transition: fill 0.4s ease;
		}
	}
	&__partner {
		position: relative;
		grid-column: 2 span;
		padding: 7px 10px 7px 9px;
		border-radius: 20px;
		background: #00a0e3;
		display: flex;
		gap: 20px;
		align-items: center;
		transition: background 0.4s ease;
		&-purple {
			&:hover {
				background: #45398f;
				& .group__icon-change {
					fill: #45398f;
				}
			}
		}
		&-green {
			&:hover {
				background: #9dc64c;
				& .group__icon-change {
					fill: #9dc64c;
				}
			}
		}
		&-yellow {
			&:hover {
				background: #f2d450;
				& .group__icon-change {
					fill: #f2d450;
				}
			}
		}
		&-blue {
			&:hover {
				background: #307cc0;
				& .group__icon-change {
					fill: #307cc0;
				}
			}
		}
		&-lightblue {
			&:hover {
				background: #35bff0;
				& .group__icon-change {
					fill: #35bff0;
				}
			}
		}
		&-pink {
			&:hover {
				background: #d45b9e;
				& .group__icon-change {
					fill: #d45b9e;
				}
			}
		}
	}
	&__text {
		text-transform: uppercase;
		font-size: 13px;
		font-weight: 500;
		line-height: 18px;
		min-height: 69px;
		display: flex;
		align-items: center;
	}
}

@media (max-width: 1350px) {
	.group {
		&__row {
			align-items: center;
		}
		&__list {
			display: flex;
			flex-direction: column;
		}
		&__partner {
			grid-column: 4 span;
		}
		&__image {
			width: 250px;
			height: auto;
		}
	}
}

@media (max-width: 1024px) {
	.group {
		&__column {
			&-partners {
				margin-top: 60px;
			}
		}
		&__image {
			margin-right: 0;
			width: unset;
		}
	}
}

@media (max-width: 768px) {
	.group {
		&__container {
			padding: 68px 24px 24px;
		}
		&__image {
			margin-right: 0;
		}
		&__column {
			&-partners {
				margin-top: 40px;
			}
		}
		&__row {
			flex-direction: column;
			gap: 40px;
		}
		&__column {
			padding-left: 0;
		}
		&__title {
			margin-top: 0;
			margin-bottom: 24px;
			font-size: 42px;
			line-height: normal;
		}
		&__partner {
			grid-column: 6 span;
		}
		&__list {
			row-gap: 18px;
		}
		&__item {
			font-size: 24px;
		}
	}
}

@media (max-width: 480px) {
	.group {
		&__container {
			padding-top: 32px;
		}
		&__title {
			font-size: 32px;
		}
		&__item {
			font-size: 18px;
		}
		&__row {
			flex-direction: column;
			gap: 20px;
		}
		&__column {
			&-partners {
				margin-top: 20px;
				column-gap: 0;
				grid-template-columns: repeat(6, 1fr);
			}
		}
		&__image {
			width: 160px;
		}
	}
}

@media (max-width: 375px) {
	.group {
		&__title {
			font-size: 26px;
		}
	}
}
