.hero {
	position: relative;
	&__container {
		background: var(--dark-blue-color);
		padding: 186px 140px 240px;
		position: relative;
		z-index: 100;
		border-radius: 25px;
		position: relative;
		overflow: hidden;
	}
	&__title {
		max-width: 975px;
		margin-bottom: 58px;
		font-size: 68px;
		font-weight: 700;
		line-height: 77.5px;
	}
	&__subtitle {
		margin-top: 8px;
		margin-bottom: 38px;
		line-height: normal;
	}
	&__button {
		padding: 20px 40px 20px 28px;
		border-radius: 15px;
		border: 2px solid var(--light-blue-color);
		display: flex;
		align-items: center;
		gap: 28px;
		font-size: 24px;
		line-height: 40px;
		color: var(--white-color);
		transition: box-shadow 0.3s ease, background 0.3s ease;
		display: inline-flex;
		margin-left: 36px;
		&:hover {
			background: var(--blue-color);
			box-shadow: 0px 4px 20px 4px rgba(11, 187, 239, 0.2);
		}
		&-anim {
			animation: btn 2.2s;
		}
		transform-origin: 0 0;
	}
	&__image {
		&-kit {
			position: absolute;
			z-index: 50;
		}
	}
	&__path {
		position: absolute;
		&-tablet {
			display: none;
		}
	}
}

@keyframes btn {
	0% {
		scale: 1;
	}
	25% {
		scale: 1.14;
	}
	50% {
		scale: 1;
	}
	75% {
		scale: 1.07;
	}
	100% {
		scale: 1;
	}
}

@media (max-width: 1300px) {
	.hero {
		&__container {
			padding: 64px 60px 160px;
		}
		&__button {
			margin-top: 26px;
			margin-left: 0;
		}
	}
}

@media (max-width: 1024px) {
	.hero {
		&__title {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			font-size: 58px;
			line-height: normal;
		}
	}
}

@media (max-width: 768px) {
	.hero {
		&__container {
			padding: 186px 35px 150px 60px;
		}
		&__title {
			margin-bottom: 0;
			font-size: 48px;
			line-height: 67px;
		}
		&__button {
			margin-top: 57px;
		}
		&__path {
			&-desktop {
				display: none;
			}
			&-tablet {
				display: block;
			}
		}
	}
}

@media (max-width: 480px) {
	.hero {
		&__container {
			padding: 56px 30px 56px;
		}
		&__image-kit {
			display: none;
		}
		&__path {
			display: none;
		}
		&__subtitle {
			margin-top: 0;
			margin-bottom: 16px;
			font-size: 18px;
		}
		&__title {
			line-height: 125%;
			font-size: 38px;
		}
		&__button {
			margin-top: 20px;
			padding: 6px 20px;
			gap: 10px;
			font-size: 20px;
		}
		&__icon {
			width: 32px;
			height: 32px;
		}
	}
}
