.hero {
	position: relative;
	padding-top: 115px;
	padding-bottom: 135px;
	overflow: hidden;
	background: var(--dark-blue-color);
	&__container {
		position: relative;
		z-index: 100;
	}
	&__title {
		max-width: 574px;
		margin-bottom: 58px;
	}
	&__subtitle {
		margin-bottom: 24px;
	}
	&__button {
		padding: 20px 28px;
		border-radius: 15px;
		border: 2px solid var(--light-blue-color);
		display: flex;
		align-items: center;
		gap: 28px;
		font-size: 24px;
		line-height: 40px;
		color: var(--white-color);
		// transition: box-shadow 0.3s ease, background 0.3s ease;
		// &:hover {
		// 	background: var(--blue-color);
		// 	box-shadow: 0px 4px 20px 4px rgba(11, 187, 239, 0.2);
		// }
		// animation: btn 4s cubic-bezier(0.81, 0.02, 0.27, 0.98) infinite;
		animation: btn 3s ease infinite;
		transform-origin: 0 0;
	}
	&__image {
		&-kit {
			// animation: moving-fish infinite 10s linear;
			transform-origin: center;
			transform-box: fill-box;
			position: absolute;
			right: 0;
			bottom: 0;
			z-index: 50;
			border: 2px solid white;
		}
	}
}

@keyframes moving-fish {
	0% {
		transform: rotate(60deg) translate(100%, -30%);
	}
	100% {
		transform: rotate(-40deg) translate(-450%, 70%);
	}
}

@media (max-width: 768px) {
	.hero {
		&__image {
			&-kit {
				width: 550.854px;
			}
		}
	}
	@keyframes moving-fish {
		0% {
			transform: rotate(40deg) translate(100%, 0%);
		}
		100% {
			transform: rotate(-20deg) translate(-430%, -100%);
		}
	}
}

@media (max-width: 601px) {
	.hero {
		padding-top: 65px;
		padding-bottom: 65px;
		&__subtitle {
			line-height: 120%;
			font-size: 14px;
		}
		&__title {
			font-size: 42px;
			line-height: 48px;
		}
		&__button {
			padding: 10px 20px;
			gap: 10px;
		}
		&__image {
			&-kit {
				width: 340.854px;
				height: fit-content;
			}
		}
	}
	@keyframes moving-fish {
		0% {
			transform: rotate(40deg) translate(130%, -20%);
		}
		100% {
			transform: rotate(-20deg) translate(-300%, -140%);
		}
	}
}

.abs-block {
	position: absolute;
	top: 200px;
	left: 900px;
	width: 200px;
	height: 200px;
	background: crimson;
}

@keyframes btn {
	0% {
		scale: 1;
	}
	25% {
		scale: 1.14;
	}
	50% {
		scale: 1;
	}
	75% {
		scale: 1.07;
	}
	100% {
		scale: 1;
	}
}
