.license {
	position: relative;
	background: var(--second-light-blue-color);
	padding-top: 77px;
	padding-bottom: 115px;
	counter-reset: items;
	overflow: hidden;
	&__content {
		position: relative;
		z-index: 900;
	}
	&__container {
		position: relative;
		z-index: 800;
	}
	&__title {
		color: var(--white-color);
		margin-bottom: 54px;
	}
	&__list {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 80px 92px;
	}
	&__item {
		position: relative;
		grid-column: 6 span;
		padding: 36px 53px 36px 127px;
		background: var(--grey-color);
		border-radius: 25px;
		&::before {
			counter-increment: items;
			content: counter(items);
			position: absolute;
			bottom: 0;
			left: 20px;
			font-weight: 600;
			font-size: 150px;
			line-height: 114px;
			color: var(--blue-color);
		}
	}
	&__text {
		margin: 0;
		display: flex;
		flex-direction: column;
		&-main {
			color: var(--dark-blue-color);
			font-size: 20px;
			line-height: 30px;
		}
		&-sub {
			color: var(--dark-blue-color);
			font-size: 14px;
			line-height: 23px;
		}
	}
	&__image {
		position: absolute;
		top: 50%;
		left: -12%;
		transform-origin: 50% 100px;
		transform: scale(0) translate(-50%);
		transition: transform 0.7s cubic-bezier(0.25, 0.1, 0.76, 1.26);
		&-anim {
			transform: scale(1) translateY(-50%);
		}
	}
}

@media (max-width: 1024px) {
	.license {
		padding-top: 70px;
		padding-bottom: 70px;
		&__list {
			gap: 24px;
		}
		&__item {
			grid-column: 6 span;
			padding: 36px 26px 36px 110px;
			&::before {
				font-size: 120px;
				line-height: 92px;
			}
		}
		&__text {
			&-main {
				font-size: 16px;
				line-height: 18px;
			}
			&-sub {
				font-size: 10px;
				line-height: 120%;
			}
		}
		&__image {
			top: 102%;
			left: -59%;
			&-anim {
				transform: scale(0.89) translateY(-50%) rotate(-28deg);
			}
		}
	}
}

@media (max-width: 956px) {
	.license {
		&__item {
			grid-column: 12 span;
			padding: 36px 26px 36px 110px;
		}
	}
}

@media (max-width: 840px) {
	.license {
		&__image {
			top: 61%;
			left: -72%;
			&-anim {
				transform: scale(0.86) translateY(-50%) rotate(-30deg);
			}
		}
	}
}

@media (max-width: 523px) {
	.license {
		&__image {
			top: 62%;
			left: -147%;
			transform: scale(0) rotate(331deg) translateY(-50%);
			&-anim {
				transform: scale(0.7) translateY(-50%) rotate(-29deg);
			}
		}
		&__subtitle {
			font-size: 16px;
			line-height: 120%;
			margin-bottom: 4px;
		}
		&__title {
			font-size: 28px;
			line-height: 40px;
			margin-bottom: 36px;
		}
		&__item {
			&::before {
				font-size: 100px;
				line-height: 74px;
			}
		}
		&__text {
			&-main {
				font-size: 15px;
			}
		}
	}
}

@media (max-width: 480px) {
	.license {
		&__image {
			top: 51%;
			left: -168%;
			transform: scale(0) rotate(331deg) translateY(-50%);
			&-anim {
				transform: scale(0.61) translateY(-50%) rotate(-29deg);
			}
		}
		&__item {
			padding: 10px;
			padding-left: 100px;
			min-height: 100px;
			display: flex;
			align-items: center;
			min-height: 80px;
			&::before {
				font-size: 100px;
				line-height: 74px;
			}
		}
		&__text {
			justify-content: center;
			gap: 6px;
			&-main {
				font-size: 14px;
				line-height: 18px;
			}
			&-sub {
				font-size: 11px;
			}
		}
	}
}
