.license {
	margin-top: 200px;
	&__title {
		text-align: center;
		margin: 0 auto 113px;
		max-width: 950px;
		color: var(--dark-blue-color);
		&-banner {
			color: var(--white-color);
			font-size: 58px;
			font-weight: 600;
			line-height: normal;
			margin-bottom: 65px;
		}
	}
	&__list {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 25px;
		counter-reset: items 0;
		margin-bottom: 25px;
		&-inner:not(.list-reset) {
			padding-left: 13px;
			list-style: "- ";
		}
	}
	&__item {
		position: relative;
		grid-column: 4 span;
		padding: 150px 57px 47px 50px;
		border-radius: 25px;
		background: var(--dark-blue-color);
		min-height: 300px;
		counter-increment: items 1;
		&::before {
			content: counter(items);
			position: absolute;
			top: 22px;
			left: 28px;
			color: var(--white-color);
			font-size: 62px;
			line-height: 62px;
			font-weight: 600;
		}
		&::after {
			content: "";
			width: 100px;
			height: 2px;
			position: absolute;
			top: 85px;
			left: 35px;
			background: var(--white-color);
			rotate: -45deg;
		}
		&:hover {
			& .license__icon {
				transform: translateY(-4px);
			}
		}
	}
	&__text {
		margin: 0;
		color: var(--grey-color);
		font-weight: 400;
		&-primary {
			font-size: 20px;
			line-height: 25px;
		}
		&-secondary {
			font-size: 14px;
			line-height: 25px;
		}
	}
	&__icon {
		position: absolute;
		bottom: 30px;
		right: 30px;
		background: var(--license-light-blue-color);
		border-radius: 100%;
		width: 25px;
		height: 25px;
		min-height: 25px;
		min-width: 25px;
		transition: transform 0.3s ease;
	}
	&__banner {
		padding: 75px 87px 50px 50px;
		background: var(--license-light-blue-color);
		border-radius: 25px;
		display: flex;
		justify-content: space-between;
	}
	&__links {
		display: flex;
		gap: 20px 41px;
		flex-wrap: wrap;
	}
	&__link {
		color: var(--white-color);
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px;
		padding: 14px 28px;
		background: var(--dark-blue-color);
		border-radius: 10px;
		text-decoration: none;
		&-light {
			background: var(--second-light-blue-color);
		}
	}
}

@media (max-width: 1024px) {
	.license {
		&__banner {
			align-items: center;
			padding: 35px 87px 35px 35px;
		}
	}
}

@media (max-width: 885px) {
	.license {
		&__banner {
			padding: 35px;
		}
		&__kit {
			display: none;
		}
	}
}

@media (max-width: 850px) {
	.license {
		margin-top: 100px;
		&__item {
			grid-column: 6 span;
			padding: 150px 54px 47px 36px;
		}
		&__title {
			margin-bottom: 70px;
			line-height: 120%;
			font-size: 63px;
		}
	}
}

@media (max-width: 768px) {
	.license {
		&__title {
			&-banner {
				font-size: 40px;
				line-height: 120%;
				margin-bottom: 35px;
			}
		}
		&__link {
			font-size: 16px;
			line-height: 120%;
			padding: 8px 16px;
		}
	}
}

@media (max-width: 480px) {
	.license {
		margin-top: 100px;
		&__item {
			min-height: 240px;
			padding: 80px 20px 48px;
			&::before {
				left: 20px;
				top: 12px;
				font-size: 48px;
				line-height: 48px;
			}
			&::after {
				width: 46px;
				top: 48px;
				left: 42px;
			}
		}
		&__title {
			margin-bottom: 46px;
			font-size: 46px;
			line-height: 46px;
		}
		&__text {
			&-primary {
				font-size: 16px;
				line-height: 120%;
				margin-bottom: 8px;
			}
			&-secondary {
				font-size: 12px;
				line-height: 130%;
			}
		}
		&__icon {
			bottom: 15px;
			right: 15px;
		}
	}
}

@media (max-width: 395px) {
	.license {
		margin-top: 100px;
		&__title {
			margin-bottom: 36px;
			font-size: 38px;
			line-height: 38px;
			&-banner {
				font-size: 26px;
				margin-bottom: 15px;
			}
		}
		&__list {
			column-gap: 0;
		}
		&__item {
			grid-column: 12 span;
			min-height: 180px;
		}
		&__banner {
			padding: 28px;
		}
		&__links {
			row-gap: 15px;
		}
	}
}

@media (max-width: 372px) {
	.license {
		margin-top: 100px;
		&__list {
			column-gap: 0;
		}
		&__item {
			grid-column: 12 span;
			min-height: 180px;
		}
		&__banner {
			padding: 28px;
		}
		&__link {
			font-size: 14px;
			line-height: 120%;
			padding: 8px 10px;
		}
	}
}
