.vidget {
	position: fixed;
	top: 152px;
	right: 0;
	z-index: 1000;
	border-radius: 15px;
	transition: transform 0.6s cubic-bezier(0.25, 0.1, 0.47, 1.46), visibility 0.6s cubic-bezier(0.25, 0.1, 0.47, 1.46);
	transform: translateX(0);
	visibility: visible;
	padding-left: 10px;
	padding-right: 10px;
	&:hover {
		& .vidget__overlay {
			opacity: 1;
			visibility: visible;
		}
	}
	&__container {
		overflow: hidden;
		border-radius: 15px;
		position: relative;
		padding: 36px 30px;
		background: #142647;
	}
	&__overlay {
		position: absolute;
		inset: 0;
		padding-left: 10px;
		padding-right: 10px;
		z-index: 900;
		background: #0bbbef;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s ease, visibility 0.3s ease;
		text-decoration: none;
	}
	&__text {
		position: relative;
		z-index: 100;
		max-width: 358px;
		font-size: 24px;
		font-weight: 700;
		line-height: 29px;
		margin: 0;
		color: var(--white-color);
		&-blue {
			color: #0bbbef;
		}
		&-overlay {
			text-transform: uppercase;
			text-align: center;
			font-size: 24px;
			font-weight: 700;
			line-height: 120%;
			color: var(--white-color);
		}
	}
	&__icon {
		&-close {
			position: absolute;
			top: 10px;
			right: 10px;
			cursor: pointer;
			z-index: 1000;
		}
	}
	&__image {
		&-kit {
			position: absolute;
			bottom: -100px;
			right: -160px;
			animation: kit-moving 6s linear infinite;
		}
	}
	&-hidden {
		transform: translateX(150%);
		visibility: hidden;
	}
}

@keyframes kit-moving {
	0% {
		transform: translate(100%, 0) rotate(0deg);
	}
	100% {
		transform: translate(-450%, -200%) rotate(-30deg);
	}
}
