<section class="bonus-second">
	<div class="container bonus-second__container">
		<h3 class="title bonus-second__title">Техническое сопровождение в подарок</h3>
		<div class="bonus-second__container-inner">
			<div class="bonus-second__tarif">
				<h3 class="title bonus-second__title bonus-second__title-tarif">Тариф «БОНУС»</h3>
				<ul class="list-reset bonus-second__list">
					<li class="bonus-second__item">консультации с персональным менеджером</li>
					<li class="bonus-second__item">2 часа на доработки</li>
					<li class="bonus-second__item">1 онлайн встреча на 30 минут</li>
				</ul>
			</div>
			<img
				src="./img/bonus-second-kit.svg"
				class="image bonus-second__image"
				width="457"
				height="411"
				alt="Кит с фоном"
			/>
		</div>
	</div>
</section>
