<section class="cashback">
	<div class="container cashback__container">
		<div class="cashback__column cashback__column-main">
			<h5 class="title title__h5 cashback__subtitle">Вы можете потратить баллы на покупку наших услуг</h5>
			<h3 class="title title__h3 cashback__title">
				КЭШБЭК 10% баллами <span class="cashback__text-blue">OPTI</span>
			</h3>
			<div class="cashback__buttons">
				<button class="btn-reset cashback__button">Продлить тариф</button>
				<button class="btn-reset cashback__button cashback__button-faded">Перейти в личный кабинет</button>
			</div>
		</div>
		<div class="cashback__column cashback__column-circles">
			<div class="cashback__container-circles">
				<svg class="cashback__ellipse cashback__ellipse-moving cashback__ellipse-moving-top">
					<use xlink:href="img/sprite.svg#cashback-ellipse"></use>
				</svg>
				<svg class="cashback__ellipse cashback__ellipse-static">
					<use xlink:href="img/sprite.svg#cashback-ellipse"></use>
				</svg>
				<svg class="cashback__ellipse cashback__ellipse-moving cashback__ellipse-moving-bottom">
					<use xlink:href="img/sprite.svg#cashback-ellipse"></use>
				</svg>
			</div>
		</div>
	</div>
</section>
