<section class="footer">
	<div class="container">
		<div class="footer__container">
			<div class="footer__column-aside">
				<img
					src="./img/footer-logo.svg"
					class="image footer__logo"
					width="167"
					height="117"
					alt="Логотип компании"
				/>
				<div class="footer__container-contacts">
					<button class="btn-reset footer__button footer__link-call">Заказать звонок</button>
					<a href="tel:8800216216" class="footer__link-aside footer__link-phone">
						<img
							src="./img/phone.svg"
							class="image footer__icon footer__icon-phone"
							width="20"
							height="20"
							alt="Иконка телефона"
						/>
						8 800 216 216
					</a>
					<a href="mailto:info@opti.ooo" class="footer__link-aside footer__link-aside-email">
						<img
							src="./img/mail.svg"
							class="image footer__icon footer__icon-mail"
							width="20"
							height="18"
							alt="Иконка письма"
						/>
						info@opti.ooo
					</a>
				</div>
			</div>
			<div class="footer__column-main">
				<div class="footer__container-list footer__container-list-company">
					<a href="#" class="title footer__title-list">Компания</a>
					<ul class="list-reset footer__links">
						<li class="footer__item">
							<a href="#" class="footer__link">Наша команда</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Сертификаты и компетенции</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Новости и акции</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Отзывы</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Статьи</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Вопрос-ответ</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Вакансии</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Реквизиты</a>
						</li>
					</ul>
				</div>
				<div class="footer__container-list footer__container-list-products">
					<a href="#" class="title footer__title-list">Продукты</a>
					<ul class="list-reset footer__links">
						<li class="footer__item">
							<a href="#" class="footer__link">Лицензии</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Готовые рещения</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Сопровождение</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">3D-моделирование и визуализация</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Повышаем эффективность</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Автоматизация продаж</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Обучение</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Сайты и разработка</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Упаковка</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Цифровая трансформация бизнеса</a>
						</li>
					</ul>
				</div>
				<div class="footer__container-list footer__container-list-service">
					<a href="#" class="title footer__title-list">Услуги</a>
					<ul class="list-reset footer__links">
						<li class="footer__item">
							<a href="#" class="footer__link">Битрикс24</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link"
								>Автоматизация <span class="footer__text-nowrap">бизнес-процессов</span></a
							>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">WEB-разработка</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Техническая поддержка</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Roistat</a>
						</li>
					</ul>
				</div>
				<div class="footer__container-list footer__container-list-projects">
					<a href="#" class="title footer__title-list">Проекты</a>
					<ul class="list-reset footer__links">
						<li class="footer__item">
							<a href="#" class="footer__link">Корпоративные сайты</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">WEB-разработка</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Автоматизация продаж</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Внедрение CRM-проекты</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Чат-боты</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Бизнес-процессы</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">3D-моделирование и&nbsp;визуализация</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Продвижение и SEO</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">IP-телефония</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Переход на Битрикс24</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
