<header class="header">
	<div class="container">
		<div class="header__container">
			<a href="/">
				<img src="./img/logo.svg" class="image header__logo" width="107" height="75" alt="Логотип" />
			</a>
			<nav class="nav header__nav" title="Навигационная панель">
				<ul class="list-reset nav__list">
					<li class="nav__item nav__item-about"><a class="nav__link">О нас</a></li>
					<li class="nav__item nav__item-advantages">
						<a class="nav__link">Преимущества</a>
					</li>
					<li class="nav__item nav__item-banner nav__item-extend"><a class="nav__link">Продлить тариф</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
