<header class="header">
	<div class="container">
		<div class="header__container">
			<a href="/">
				<img
					loading="lazy"
					src="./img/logo.svg"
					class="image header__logo"
					width="107"
					height="75"
					alt="Логотип"
				/>
			</a>
			<nav class="nav header__nav" title="Навигационная панель">
				<ul class="list-reset nav__list">
					<li class="nav__item"><a href="#info" class="nav__link">О нас</a></li>
					<li class="nav__item"><a href="#license" class="nav__link">Преимущества</a></li>
					<li class="nav__item nav__item-extend"><a href="#" class="nav__link">Продлить тариф</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
