<section class="hero">
	<div class="container">
		<div class="hero__container">
			<h4 class="title title__h4 hero__subtitle">Почему стоит продлевать тариф у нас?</h4>
			<h2 class="title title__h2 hero__title">
				Да, стоит столько же, но ВЫ получаете
				<button class="btn-reset hero__button">
					Больше
					<img
						loading="lazy"
						src="./img/down-arrow.svg"
						class="image hero__icon"
						width="48"
						height="48"
						alt="Стрелка вниз"
					/>
				</button>
			</h2>
			<svg
				class="hero__path hero__path-desktop"
				xmlns="http://www.w3.org/2000/svg"
				width="2025"
				height="541"
				viewBox="0 0 2025 541"
				fill="none"
			>
				<path
					id="path"
					d="M1554.5 312C1545.5 301 1430.5 19.6094 981 1.5C531.5 -16.6094 0.5 483 0.5 483"
					stroke="transparent"
				/>
			</svg>
			<svg
				class="hero__path hero__path-tablet"
				xmlns="http://www.w3.org/2000/svg"
				width="720"
				height="151"
				viewBox="0 0 720 151"
				fill="none"
			>
				<path
					id="path-tablet"
					d="M1052 246.49C1052 246.49 738.098 -30.5907 465 3.97791C259.5 29.99 1 350.5 1 350.5"
					stroke="transparent"
				/>
			</svg>
			<img src="./img/fish.svg" class="image hero__image-kit" width="352" height="252" alt="Кит" />
		</div>
	</div>
	<!-- <div class="abs-block"></div> -->
</section>
