<section class="hero">
	<div class="container hero__container">
		<h4 class="title title__h4 hero__subtitle">Почему стоит продлевать тариф у нас?</h4>
		<h2 class="title title__h2 hero__title">Да стоит столько же, но ВЫ получаете</h2>
		<button class="btn-reset hero__button">
			Подробнее
			<img
				loading="lazy"
				src="./img/down-arrow.svg"
				class="image hero__icon"
				width="48"
				height="48"
				alt="Стрелка вниз"
			/>
		</button>
	</div>
	<img loading="lazy" src="./img/fish.svg" class="image hero__image-kit" width="838" height="600" alt="Кит" />
</section>
