<section class="info" id="info">
	<div class="container info__container">
		<div class="info__column">
			<h3 class="title title__h3 info__title">Группа компаний OPTI</h3>
			<button class="btn-reset info__button">Получить консультацию</button>
		</div>
		<div class="info__column">
			<ul class="list-reset info__list">
				<li class="info__item">Внедрение и настройка CRM</li>
				<li class="info__item">АВТОМАТИЗАЦИЯ бизнес-процессов</li>
				<li class="info__item">WEB-разработка</li>
				<li class="info__item">МАРКЕТИНГ продаж</li>
			</ul>
		</div>
		<button class="btn-reset info__button info__button-hidden">Получить консультацию</button>
	</div>
</section>
