<section class="license">
	<div class="container license__container">
		<h1 class="title title__h1 license__title">Покупая лицензию у&nbsp;нас вы получаете</h1>
		<ul class="list-reset license__list">
			<li class="license__item">
				<p class="license__text license__text-primary">скидку до 40% на&nbsp;наши услуги</p>
				<ul class="list-reset license__list-inner">
					<li class="license__item-inner license__text license__text-secondary">
						стоимость разработки со скидкой&nbsp;–&nbsp;2400 рублей/час
					</li>
				</ul>
				<div class="license__icon"></div>
			</li>
			<li class="license__item">
				<p class="license__text license__text-primary">увеличенный срок продления</p>
				<ul class="list-reset license__list-inner">
					<li class="license__item-inner license__text license__text-secondary">
						+ 14 дней к сроку продления тарифа
					</li>
				</ul>
				<div class="license__icon"></div>
			</li>
			<li class="license__item">
				<p class="license__text license__text-primary">ваши вопросы не&nbsp;останутся&nbsp;ответа</p>
				<ul class="list-reset license__list-inner">
					<li class="license__item-inner license__text license__text-secondary">
						приоритет в&nbsp;чате технической поддержки
					</li>
				</ul>
				<div class="license__icon"></div>
			</li>
			<li class="license__item">
				<p class="license__text license__text-primary">уникальные предложения и&nbsp;сервис</p>
				<ul class="list-reset license__list-inner">
					<li class="license__item-inner license__text license__text-secondary">
						за вами закрепляется персональный менеджер
					</li>
				</ul>
				<div class="license__icon"></div>
			</li>
			<li class="license__item">
				<p class="license__text license__text-primary">техническое сопровождение в&nbsp;подарок</p>
				<ul class="license__list-inner">
					<li class="license__item-inner license__text license__text-secondary">
						консультации с&nbsp;персональным менеджером
					</li>
					<li class="license__item-inner license__text license__text-secondary">
						1 онлайн встреча на&nbsp;30 минут
					</li>
					<li class="license__item-inner license__text license__text-secondary">2 часа на&nbsp;доработки</li>
				</ul>
				<div class="license__icon"></div>
			</li>
			<li class="license__item">
				<p class="license__text license__text-primary">КЭШБЭК 10% баллами OPTI</p>
				<ul class="list-reset license__list-inner">
					<li class="license__item-inner license__text license__text-secondary">
						вы можете потратить баллы на покупку наших слуг
					</li>
				</ul>
				<div class="license__icon"></div>
			</li>
		</ul>
		<div class="license__banner">
			<div class="license__column">
				<h2 class="title license__title-banner">Выбери правильного интегратора</h2>
				<div class="license__links">
					<a href="#" class="license__link">Купить или продлить лицензию</a>
					<a href="#" class="license__link license__link-light">Перейти в личный кабинет</a>
				</div>
			</div>
			<img src="./img/license-kit.svg" class="image license__kit" width="317" height="175" alt="Кит" />
		</div>
	</div>
</section>
