<section class="license" id="license">
	<div class="container license__container">
		<div class="license__content">
			<h4 class="title title__h4 license__subtitle">Покупая лицензию у нас</h4>
			<h3 class="title title__h3 license__title">Вы получаете</h3>
			<ul class="list-reset license__list">
				<li class="license__item">
					<p class="license__text">
						<span class="license__text-main">скидку до 40% на наши услуги</span>
						<span class="license__text-sub">(стоимость разработки со скидкой – 2400 рублей/час)</span>
					</p>
				</li>
				<li class="license__item">
					<p class="license__text">
						<span class="license__text-main">уникальные предложения и сервис </span>
						<span class="license__text-sub">(за вами закрепляется персональный менеджер)</span>
					</p>
				</li>
				<li class="license__item">
					<p class="license__text">
						<span class="license__text-main">увеличенный срок продления </span>
						<span class="license__text-sub">(+ 14 дней к сроку продления тарифа)</span>
					</p>
				</li>
				<li class="license__item">
					<p class="license__text">
						<span class="license__text-main">ваши вопросы не останутся без ответа </span>
						<span class="license__text-sub">(приоритет в чате технической поддержки)</span>
					</p>
				</li>
			</ul>
		</div>
		<img
			loading="lazy"
			src="./img/anim-ellipse.png"
			class="image license__image"
			width="1438"
			height="995"
			alt="Синий эллипс"
		/>
	</div>
</section>
