<div class="vidget vidget-hidden">
	<div class="vidget__container">
		<p class="vidget__text">
			<span class="vidget__text-blue"> 5 причин </span>
			почему стоит продлевать тариф через нас
		</p>
		<img src="./img/close.svg" class="image vidget__icon-close" width="20" height="20" alt="Иконка закрыть" />
		<img
			src="./img/vidget-kit.png"
			class="image vidget__image-kit"
			width="141"
			height="93"
			alt="Изображение кита"
		/>
		<a href="#" class="vidget__overlay">
			<span class="vidget__text-overlay">УЗНАТЬ БОЛЬШЕ</span>
		</a>
	</div>
</div>
